*{
   box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: 'Raleway', sans-serif;
   
     border: none;
    outline: none;
    user-select: none;
   
   
}
body{
    display: flex;
    justify-content: center;
    background: url('../image/mainpage1.jpg') no-repeat;
     align-items: center;
    background-position: center;
   background-size: cover;
    width: 100%;
    height: 100vh;
    text-transform: capitalize;
    font-size: 28px;
    text-align: center;
    
   
    
}

.login{
    text-align: center;
    color: black;
    width: 350px;
    height: 380px;
    padding: 30px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.8),
        inset 3px 3px 3px rgba(41, 41, 41, 0.9);
}
.login h1{
    font-size: 40px;
    padding-bottom: 20px;
}
.login input[type="email"], .login input[type="password"]{
    border: 0;
    margin: 15px auto;
    display: block;
    width: 150px;
    height: 30px;
   text-align: center;
    background: transparent;
    font-size: 18px;
    letter-spacing: 1px;
    
}
.login input[type="email"]:focus, .login input[type="password"]:focus{
    width: 165px;
    border-color: aquamarine;
}
i{
    color: black;
    font-size: 18px;
}
.login input[type="button"]{
    padding-top: -10px;
   margin-bottom: 10px;
    cursor: pointer;
    width: 300px;
    height: 38px;
    color: black;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 1px;
    background: aquamarine;
    transition: 0.4s;
}
.login input[type="button"]:focus{
     background: cyan;
    border-radius: 7px;
}